*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(51, 44, 44);
    text-align: center;
}
html body{
    background-color: rgb(245, 244, 244);
}
.wrapped{
    margin: 0;
    padding: 0;
    padding-top:15px;
    margin-bottom: -15px;
    overflow: hidden;
    background: white;
}
.sticky{
    position: sticky;
    top: 0;
    width: 100vw;
    z-index: 1000;
    background: white;
}

.wrapped .navy ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.wrapped .navy ul li{
    list-style-type: none;
}
svg:hover{
    cursor: pointer;
}
.wrapped .navy ul li i{
    border: 1px solid #3895D3;
    text-align: center;
    background: #3895D3;
    color: white;
    border-radius: 0 4px 4px 0;
    font-size: 23px;
    padding: 15px;
    margin-left: -5px;
    padding-top: 13.2px;
    padding-bottom: 18.3px;
    padding-inline: 17px;
    transition:all .3s ;
}
.wrapped .navy ul li i:hover{
    cursor: pointer;
    background-color: #1484cf;
}
.wrapped .navy ul li img{
    width: 130px;
}
.wrapped .navy ul li img:hover{
    cursor: pointer;
}
.wrapped .navy ul li input{
    width: 500px;
    height:55px;
    outline: none;
    border: 1px solid #ccc;
    border-bottom: 2px solid tomato;
    border-radius: 4px 0 0 4px;
}
.wrapped .navy ul li input:focus{
    border: 1px solid #3895D3;
}
.wrapped .navy ul li button{
    padding: 7px;
    padding-inline: 18.5px;
    border: 1px solid #aaa;
    border-radius: 6px;
    background: white;
    font-size: 19px;
    outline: none;
    transition: all .2s;
}
.wrapped .navy ul li button:hover{
    background: rgb(38, 189, 38);
    color: white;
}
.wrapped .navy ul li button:focus{
    outline: none;
    border:  1px solid rgb(38, 189, 38);
    box-shadow: 0 0 6px rgb(38, 189, 38);
    border-radius: 6px;
}
hr{
    font-size: .3px;
    background-color: #3895D3;
    margin-top: -17px !important;
}
header{
    background-color: white;
}
.wrap{
    padding-top: 30px;
    padding-inline: 50px;
    margin-bottom: -10px;
}
.wrap .navi ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrap .navi ul li{
    list-style-type: none;
}
.wrap .navi ul li a{
    font-size: 18.5px;
    text-decoration: none;
    color: black;
    transition: all .3s;
    display: inline-block;
    padding-bottom: 2px;
}
a.active {
    border: 1.5px solid #3895D3;
    border-bottom: 2px solid white !important;
    z-index: 10;
    position: relative;
    padding-inline: 17.5px;
    padding-top: 6px ;
}
.wrap .navi ul li a:hover{
    color: #3895D3;
}
.wrap .navi ul li a img{
    width: 26px;
    height: 25px;
    margin-top: -9px;
}
nav .wrapper{
    padding-inline: 70px;
    padding-block: 1px;
    margin:0;
    position: relative;
    background-color: white;
}
.nav-links{
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
}
.nav-links li{
    list-style-type: none;
}

.nav-links li a{
    text-decoration: none;
    color: black;
    font-weight: 1.7;
    font-size: 15.2px;
    text-align: center;
    transition: all .3s;
}
.nav-links li a:hover{
    color: #3895D3;
}
.mega-box{
    opacity: 0;
    display: none;
}
.nav-links li:nth-child(1){
    transition: all .3s;
}
.nav-links li:nth-child(1):hover .mega-box{
    opacity: 1;
    display: flex;
}

.nav-links li:nth-child(4) a {
    color: tomato;
}
.nav-links li:nth-child(4) a:hover{
    color: black;
}
.nav-links li:nth-child(6) a{
    color: limegreen;
}
.nav-links li:nth-child(6) a:hover{
    color: black;
}
nav .wrapper li a i{
    transform: rotate(0deg);
    transition: all .2s;
}
nav .wrapper li a:hover i{
    transform: rotate(180deg);
    color: #3895D3;
}
nav .wrapper li a i:hover{
    transform: rotate(180deg);
    color: #3895D3;
}
.mega-box .content{
    background: white;
    position: absolute;
    top: 30px;
    left: 83px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
.mega-box .content .row{
    margin-inline: 70px;
    margin-block: 20px;
}
.mega-box .content .row ul li{
    margin-block: 12px;
    text-align: left;
    list-style-type: disc;
    color: rgb(71, 59, 59);
}
.mega-box .content .row ul li a{
    color: rgb(71, 59, 59);
}
.mega-box .content .row ul li a:hover{
    color: #3895D3;
}
.mega-box .content .row ul li:nth-child(4) a{
    color: rgb(71, 59, 59);
}
.mega-box .content .row ul li:nth-child(4) a:hover{
    color: #3895D3;
}
.mega-box .content .row ul li:nth-child(6) a{
    color: rgb(71, 59, 59);
}
.mega-box .content .row ul li:nth-child(6) a:hover{
    color: #3895D3;
}

.mega-box .content .row:nth-child(4) li:nth-child(8){
    list-style-type: none;
}
.mega-box .content .row:nth-child(4) li:nth-child(8) a{
    font-size: 18px;
    color: #3895D3;
    font-weight: 100;
}

.cardt{
    border: 11px solid #0797D6;
    width: 28%;
    margin: 30px;
    margin-left: 50px;
    position: relative;
    border-top: 55px solid #0797D6;
    background: rgb(246, 243, 250);
}
.cardt img{
    background: #0797D6;
    position: absolute;
    z-index: 500;
    top: -45px;
    left: 82px;
    width: 50%;
}
.cardt1{
    border: 11px solid rgb(255, 145, 0);
    width: 28%;
    margin: 30px;
    position: relative;
    border-top: 55px solid rgb(255, 145, 0);
    background: rgb(246, 243, 250);
}
.cardt1 img{
    background: rgb(255, 145, 0);
    position: absolute;
    z-index: 500;
    top: -45px;
    left: 82px;
    width: 60%;
}
.cardt-wrapper{
    width: 28%;
}
.cardt2{
    border: 11px solid #b196e4;
    width: 100%;
    margin: 30px;
    margin-bottom: -15px;
    position: relative;
    border-top: 55px solid #b196e4;
    background: rgb(246, 243, 250);
    
}
.cardt2 img{
    background: #b196e4;
    position: absolute;
    z-index: 500;
    top: -50px;
    left: 72px;
    width: 60%;
}
.cardt3{
    border: 11px solid #89c540;
    width: 100%;
    margin: 30px;
    margin-bottom: -15px;
    position: relative;
    border-top: 55px solid #89c540;
    background: rgb(246, 243, 250);
    
}
.cardt3 img{
    background: #89c540;
    position: absolute;
    z-index: 500;
    top: -47px;
    left: 106px;
    width: 40%;
}
.cardt4{
    border: 11px solid #f7755e;
    width: 100%;
    margin: 30px;
    position: relative;
    border-top: 55px solid #f7755e;
    background: rgb(246, 243, 250);
    
}
.cardt4 img{
    background: #f7755e;
    position: absolute;
    z-index: 500;
    top: -52px;
    left: 82px;
    width: 60%;
}
.options{
    width: 19em;
    margin-top: 15px;
    outline: none;
    padding: 4.7px;
    border: 3px solid #fff;
    border-radius: 20px;
    margin-inline: 10px;
    margin-bottom: 15px;
    font-size: .9em;
    color: rgb(88, 80, 80);
    transition: all .3s;
}
.options:focus{
    border: 3px solid rgb(230, 243, 250);  
}
option{
    color: rgb(88, 80, 80);
}
.book{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 20px;
    border-bottom: .8px solid #ddd;
    cursor: pointer;
}
.book:nth-child(7){
    border-bottom: 0 solid #ddd;
}
.book img{
    position: absolute;
    width: 35px;
    height: 50px;
    margin-left: 15px;
    vertical-align: middle;
    top: 16px;
    left: 33px;
}
.book-text{
    position: absolute;
    left: 100px;
}
.book-text h5,.book-text h6{
    text-align: left;
    font-size: 14px;
}
.book-text h5:hover{
    color: #0797D6;
}
.book-text h6{
    color:rgb(134, 134, 134) ;
}
.accordt .book-text h6{
    margin-left: 14px;
}
.book h4{
    font-size: 2em;
    color: rgb(134, 134, 134);
}
.fa-arrow-up{
    color: limegreen;
}
.fa-arrow-down{
    color: #f7755e ;
}
.butt{
    background: white;
    padding-top: 15px;
}
.butt button{
    background: white;
    padding: 4px;
    padding-inline: 1em;
    margin-bottom: 14px;
    border: 1px solid #0797D6;
    border-radius: 4px;
    color: #1986b4;
    font-size: 1em;
    outline: none;
    transition: all .3s;
}
.butt button:hover{
    background: #0797D6;
    color: white;
}
.butt button:focus{
    outline: none;
    border:  1px solid #0797D6;
    box-shadow: 0 0 6px #0797D6;
    border-radius: 4px;
}
.contain{
    margin-bottom: -10px;
    margin-top: 5px;
    padding-inline: 3.5em;
}
.cardt2 .contain{
    margin-top: 4px;
}
.contain ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contain ul li{
    list-style-type: none;
}
.contain ul li a{
    text-decoration: none;
    font-size: .9em;
    padding-inline: 12px;
    padding-bottom: 5px;
    border-bottom: 2px solid #3cb6eb ;
    color: black;
    
}
.conti{
    display: flex;
    margin-inline: 1em;
}
.image-topper{
    border-bottom: .8px solid #ddd;
    position: relative;
    background: white;
    padding-block: 4.6em;
}


.img1 img{
    position: absolute;
    width: 62px;
    height: 62px;
    border: 2px solid #feb204;
    border-radius: 50%;
    top: 60px;
    left: 26px;
}
.img1 h5{
    position: relative;
    top: 69px;
    left: 13px;
}
.img2 img{
    position: absolute;
    width: 94px;
    height: 94px;
    border: 2px solid #feb204;
    border-radius: 50%;
    top: 10px;
    left: 125px;
    z-index: 200;
}
.img2 h5{
    position: absolute;
    top: 124px;
    left: 125px;
}
.img3 img{
    position: absolute;
    width: 62px;
    height: 62px;
    border: 2px solid #feb204;
    border-radius: 50%;
    top: 60px;
    left: 260px;
}
.img3 h5{
    position: absolute;
    top: 141px;
    left: 240px;
}
.badgey{
    color: #495057;
    background-color: #ff9900;
    border-radius: 50%;
    padding: 5px 9px;
    font-weight: 700;
    font-size: 14px;
    position: absolute;
    bottom: 29px;
    left: 45px;
    z-index: 1000;
}
.badgey1{
    color: #495057;
    background-color: #ff9900;
    border-radius: 50%;
    padding: 5px 9px;
    font-weight: 700;
    font-size: 14px;
    position: absolute;
    bottom: 50px;
    left: 160.5px;
    z-index: 1000;
}
.badgey2{
    color: #495057;
    background-color: #ff9900;
    border-radius: 50%;
    padding: 5px 9px;
    font-weight: 700;
    font-size: 14px;
    position: absolute;
    bottom: 29px;
    left: 278px;
    z-index: 1000;
}
.accordt .accord{
    display: none;
    transition: all 10s;
}
.accordt:target .accord{
    display: block;
}